<!-- Main Slider -->
<div class="master-slider" id="masterslider">
  <div class="ms-slide">
    <img src="<%= image_url 'blank.gif' %>" alt="Torta Halloween Calabaza"
          data-src="<%= image_url 'torta-halloween/los-deleites-de-candela-torta-calabaza2.jpg' %>">

    <div class="ms-layer text-center g-pos-rel"
          data-type="text"
          data-delay="10"
          data-effect="skewleft(50,340)"
          data-ease="easeOutExpo"
          data-duration="2200"
          data-origin="mc"
          data-offset-x="-100"
          data-offset-y="-15"
          data-resize="true">
      <%# <i class="icon-food-026 g-font-size-60 g-color-gold-opacity-0_7 g-mb-10"></i> %>
      <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-gold g-mb-10 g-mb-15--md">
        Calabaza Enbrujada
      </h2>
      <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
        Una torta de miedo
      </p>
      <%# <img class="g-width-130 g-height-130 g-brd-around g-brd-10 g-brd-white g-rounded-50x mx-auto g-mb-20 g-mb-25--md" src="assets/img-temp/500x500/img1.jpg" alt="Image description"> %>
      <%# <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-gold g-mb-10 g-mb-15--md">Con ingredientes de primera calidad</p> %>
      <%# <p class="g-line-height-1_1 g-font-weight-100 g-font-size-default g-color-gold g-mb-10 g-mb-20--md">Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in.</p> %>
      <%# <p class="text-uppercase g-font-weight-700 g-font-size-16 g-color-primary mb-0">$9.00</p> %>
    </div>

    <div class="ms-thumb">Calabaza Enbrujada</div>
  </div>

  <div class="ms-slide">
    <img src="<%= image_url 'blank.gif' %>" alt="bruja Voladora"
          data-src="<%= image_url 'torta-halloween/los-deleites-de-candela-torta-bruja3.jpg' %>">

    <div class="ms-layer text-center g-pos-rel"
          data-type="text"
          data-delay="10"
          data-effect="skewleft(50,340)"
          data-ease="easeOutExpo"
          data-duration="2200"
          data-origin="mc"
          data-offset-x="-100"
          data-offset-y="15"
          data-resize="true">
      <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-gold g-mb-10 g-mb-15--md">
        Bruja Voladora
      </h2>
      <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
        saldrás volando del exquisito sabor
      </p>
    </div>

    <div class="ms-thumb">Bruja Voladora</div>
  </div>

  <div class="ms-slide">
    <img src="<%= image_url 'blank.gif' %>" alt="Ojo de Araña"
          data-src="<%= image_url 'torta-halloween/los-deleites-de-candela-torta-araña2.jpg' %>">

    <div class="ms-layer text-center g-pos-rel"
          data-type="text"
          data-delay="10"
          data-effect="skewleft(50,340)"
          data-ease="easeOutExpo"
          data-duration="2200"
          data-origin="mc"
          data-offset-x="-100"
          data-offset-y="15"
          data-resize="true">
      <h2 class="text-uppercase g-line-height-1_2 g-font-weight-700 g-font-size-30 g-font-size-56--md g-color-gold g-mb-10 g-mb-15--md">
        Ojo de Araña
      </h2>
      <p class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-default g-font-size-20--md g-color-white g-mb-40 g-mb-50--md">
        Una torta espeluznantemente rica
      </p>
    </div>

    <div class="ms-thumb">Ojo de Araña</div>
  </div>
</div>
<!-- End Main Slider -->