<section id="special" class="g-bg-primary g-py-100">
  <div class="container">
    <!-- Products Block -->
    <div class="row">
      <%= render( partial: "product", 
        locals: { 
          photo_name: "los-deleites-de-candela-4-Leches-Frutilla-thumb.jpg",
          photo_desc: "los-deleites-de-candela-4-Leches-Frutilla",
          title: "Torta 4 Leches Frutilla",
          description: "Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante."
        }
      )%>

      <%= render( partial: "product", 
        locals: { 
          photo_name: "los-deleites-de-candela-Moka-Manjar-thumb.jpg",
          photo_desc: "los-deleites-de-candela-Moka-Manjar",
          title: "Torta Moka Manjar",
          description: "Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante."
        }
      )%>

      <%= render( partial: "product", 
        locals: { 
          photo_name: "los-deleites-de-candela-Pisco-Sour-thumb.jpg",
          photo_desc: "los-deleites-de-candela-Pisco-Sour",
          title: "Torta Pisco Sour",
          description: "Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante."
        }
      )%>

      <%= render( partial: "product", 
        locals: { 
          photo_name: "los-deleites-de-candela-Torta-Especial-thumb.jpg",
          photo_desc: "los-deleites-de-candela-Torta-Especial",
          title: "Tortas Especiales",
          description: "Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante."
        }
      )%>

      <%= render( partial: "product", 
        locals: { 
          photo_name: "los-deleites-de-candela-queque-navidad-thumb.jpg",
          photo_desc: "los-deleites-de-candela-queque-navidad",
          title: "Queque Navideño",
          description: "Sed feugiat porttitor nunc, non dignissim ipsum vestibulum in. Donec in blandit dolor. Vivamus a fringilla lorem, vel faucibus ante."
        }
      )%>
      
    </div>
    <!-- End Products Block -->
  </div>
</section> 